NET "clk"     LOC = P51;
TIMESPEC "ts_clk" = PERIOD "clk" 20 ns HIGH 50%;

#BOARD LED's
NET LED<0>     LOC = P134 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;
NET LED<1>     LOC = P137 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;

#Button
NET BUTTON<0>  LOC = P138 | IOSTANDARD = LVTTL ;
NET BUTTON<1>  LOC = P60  | IOSTANDARD = LVTTL ;

#SDRAM
NET	SDRAM_CLK  LOC = P57  | IOSTANDARD = LVTTL;
TIMESPEC "ts_sdram" = PERIOD SDRAM_CLK 10 ns High 50%; #100 MHz out clock

NET CS_N       LOC = P39  | IOSTANDARD = LVTTL ;
NET CKE        LOC = P40  | IOSTANDARD = LVTTL ;
NET RAS        LOC = P44  | IOSTANDARD = LVTTL ;
NET CAS        LOC = P45  | IOSTANDARD = LVTTL ;
NET WE         LOC = P46  | IOSTANDARD = LVTTL ;

NET A<0>       LOC = P35  | IOSTANDARD = LVTTL ;
NET A<1>       LOC = P23  | IOSTANDARD = LVTTL ;
NET A<2>       LOC = P22  | IOSTANDARD = LVTTL ;
NET A<3>       LOC = P21  | IOSTANDARD = LVTTL ;
NET A<4>       LOC = P14  | IOSTANDARD = LVTTL ;
NET A<5>       LOC = P15  | IOSTANDARD = LVTTL ;
NET A<6>       LOC = P26  | IOSTANDARD = LVTTL ;
NET A<7>       LOC = P27  | IOSTANDARD = LVTTL ;
NET A<8>       LOC = P29  | IOSTANDARD = LVTTL ;
NET A<9>       LOC = P33  | IOSTANDARD = LVTTL ;
NET A<10>      LOC = P24  | IOSTANDARD = LVTTL ;
NET A<11>      LOC = P30  | IOSTANDARD = LVTTL ;

NET BA<0>      LOC = P32  | IOSTANDARD = LVTTL ;
NET BA<1>      LOC = P34  | IOSTANDARD = LVTTL ;

NET DQ<0>      LOC = P62  | IOSTANDARD = LVTTL ;
NET DQ<1>      LOC = P61  | IOSTANDARD = LVTTL ;
NET DQ<2>      LOC = P59  | IOSTANDARD = LVTTL ;
NET DQ<3>      LOC = P58  | IOSTANDARD = LVTTL ;
NET DQ<4>      LOC = P56  | IOSTANDARD = LVTTL ;
NET DQ<5>      LOC = P47  | IOSTANDARD = LVTTL ;
NET DQ<6>      LOC = P139 | IOSTANDARD = LVTTL ;
NET DQ<7>      LOC = P55  | IOSTANDARD = LVTTL ;
NET DQ<8>      LOC = P50  | IOSTANDARD = LVTTL ;
NET DQ<9>      LOC = P48  | IOSTANDARD = LVTTL ;
NET DQ<10>     LOC = P75  | IOSTANDARD = LVTTL ;
NET DQ<11>     LOC = P16  | IOSTANDARD = LVTTL ;
NET DQ<12>     LOC = P17  | IOSTANDARD = LVTTL ;
NET DQ<13>     LOC = P74  | IOSTANDARD = LVTTL ;
NET DQ<14>     LOC = P66  | IOSTANDARD = LVTTL ;
NET DQ<15>     LOC = P67  | IOSTANDARD = LVTTL ;

NET DQMH       LOC = P41  | IOSTANDARD = LVTTL ;
NET DQML       LOC = P43  | IOSTANDARD = LVTTL ;

#HEADER
NET I2C_SCL    LOC = P102 | IOSTANDARD = LVTTL ;
NET I2C_SDA    LOC = P104 | IOSTANDARD = LVTTL ;

NET PIX_CLK    LOC = P87  | IOSTANDARD = LVTTL ;
TIMESPEC "ts_pixclk" = PERIOD PIX_CLK 50 ns High 50%; #20 MHz in clock

NET CAM_CLK    LOC = P100  | IOSTANDARD = LVTTL ;
TIMESPEC "ts_camclk" = PERIOD CAM_CLK 50 ns High 50%; #20 MHz out clock

NET PIX_DATA<0>  LOC = P88 | IOSTANDARD = LVTTL ;
NET PIX_DATA<1>  LOC = P92  | IOSTANDARD = LVTTL ;
NET PIX_DATA<2>  LOC = P93  | IOSTANDARD = LVTTL ;
NET PIX_DATA<3>  LOC = P94  | IOSTANDARD = LVTTL ;
NET PIX_DATA<4>  LOC = P95  | IOSTANDARD = LVTTL ;
NET PIX_DATA<5>  LOC = P97  | IOSTANDARD = LVTTL ;
NET PIX_DATA<6>  LOC = P98  | IOSTANDARD = LVTTL ;
NET PIX_DATA<7>  LOC = P99  | IOSTANDARD = LVTTL ;

NET CAM_RST    LOC = P101 | IOSTANDARD = LVTTL ;

NET STATUS_LED LOC = P105 | IOSTANDARD = LVTTL ;
#NET S14        LOC = P2   | IOSTANDARD = LVTTL ;
#NET S15        LOC = P5   | IOSTANDARD = LVTTL ;
NET CAM_HSYNC  LOC = P142 | IOSTANDARD = LVTTL ;
NET CAM_VSYNC  LOC = P141 | IOSTANDARD = LVTTL ;
#NET CAM_FLASH  LOC = P141 | IOSTANDARD = LVTTL ;
NET FLASH      LOC = P140 | IOSTANDARD = LVTTL ;

#FPGA Controls
NET RST        LOC = P111 | IOSTANDARD = LVTTL ;
NET SUSPEND_N  LOC = P112 | IOSTANDARD = LVTTL | PULLUP;

#FTDI
NET OE_N       LOC = P114 | IOSTANDARD = LVTTL ;
NET RXE_N      LOC = P117 | IOSTANDARD = LVTTL ;
NET SIWUA      LOC = P120 | IOSTANDARD = LVTTL ;
NET WR_N       LOC = P121 | IOSTANDARD = LVTTL ;
NET FTDI_CLK   LOC = P123 | IOSTANDARD = LVTTL ;
NET RD_N       LOC = P124 | IOSTANDARD = LVTTL ;
NET TXE_N      LOC = P126 | IOSTANDARD = LVTTL ;


NET D<0>       LOC = P133 | IOSTANDARD = LVTTL ;
NET D<1>       LOC = P132 | IOSTANDARD = LVTTL ;
NET D<2>       LOC = P131 | IOSTANDARD = LVTTL ;
NET D<3>       LOC = P127 | IOSTANDARD = LVTTL ;
NET D<4>       LOC = P119 | IOSTANDARD = LVTTL ;
NET D<5>       LOC = P116 | IOSTANDARD = LVTTL ;
NET D<6>       LOC = P118 | IOSTANDARD = LVTTL ;
NET D<7>       LOC = P115 | IOSTANDARD = LVTTL ;


#Logic Analyzer Attachments
NET PMODB1     LOC = P85  | IOSTANDARD = LVTTL ;
NET PMODB2     LOC = P83  | IOSTANDARD = LVTTL ;


