#PMODB
NET SD_CLK       LOC = F14  | IOSTANDARD = LVCMOS33 | IOB = FALSE ;
TIMESPEC "ts_sdclk"  = PERIOD SD_CLK 20 ns High 50%; #50 MHz clock

NET SD_CMD       LOC = A2   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET SD_DATA<0>   LOC = A3   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET SD_DATA<1>   LOC = A4   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET SD_DATA<2>   LOC = D3   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET SD_DATA<3>   LOC = B2   | IOSTANDARD = LVCMOS33 | PULLUP ;
NET PMODB9       LOC = B3   | IOSTANDARD = LVCMOS33 ;
NET PMODB10      LOC = A5   | IOSTANDARD = LVCMOS33 ;

