#PMODA
NET SD_HST_CLK        LOC = E6   | IOSTANDARD = LVCMOS33 ;
NET SD_HST_CMD        LOC = H12  | IOSTANDARD = LVCMOS33  | PULLUP ;
NET SD_HST_DATA<0>    LOC = F15  | IOSTANDARD = LVCMOS33  | PULLUP ;
NET SD_HST_DATA<1>    LOC = E16  | IOSTANDARD = LVCMOS33  | PULLUP ;
NET SD_HST_DATA<2>    LOC = B18  | IOSTANDARD = LVCMOS33  | PULLUP ;
NET SD_HST_DATA<3>    LOC = A17  | IOSTANDARD = LVCMOS33  | PULLUP ;
NET PMODA9            LOC = D18  | IOSTANDARD = LVCMOS33 ;
NET PMODA10           LOC = C17  | IOSTANDARD = LVCMOS33 ;

