#SDIO

NET SD_HST_CLK       LOC = P140  | IOSTANDARD = LVTTL;

NET SD_HST_CMD       LOC = P141  | IOSTANDARD = LVTTL | PULLUP ;

NET SD_HST_DATA<0>   LOC = P105  | IOSTANDARD = LVTTL | PULLUP ;
NET SD_HST_DATA<1>   LOC = P2    | IOSTANDARD = LVTTL | PULLUP ;
NET SD_HST_DATA<2>   LOC = P5    | IOSTANDARD = LVTTL | PULLUP ;
NET SD_HST_DATA<3>   LOC = P143  | IOSTANDARD = LVTTL | PULLUP ;

