NET "clk"     LOC = P51;
TIMESPEC "ts_clk" = PERIOD "clk" 20 ns HIGH 50%;

#HEADER
NET S0         LOC = P87  | IOSTANDARD = LVTTL ;
NET S1         LOC = P88  | IOSTANDARD = LVTTL ;

##BOARD LED's
#NET LED<0>     LOC = P134 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;
#NET LED<1>     LOC = P137 | IOSTANDARD  = LVTTL  | SLEW = SLOW | DRIVE  = 4;
#
##Button
#NET BUTTON<0>  LOC = P138 | IOSTANDARD = LVTTL ;
#NET BUTTON<1>  LOC = P60  | IOSTANDARD = LVTTL ;
#
#SDRAM
NET	SDRAM_CLK  LOC = P57  | IOSTANDARD = LVTTL;
TIMESPEC "ts_sdram" = PERIOD SDRAM_CLK 10 ns High 50%; #100 MHz out clock

NET CS_N       LOC = P39  | IOSTANDARD = LVTTL ;
NET CKE        LOC = P40  | IOSTANDARD = LVTTL ;
NET RAS        LOC = P44  | IOSTANDARD = LVTTL ;
NET CAS        LOC = P45  | IOSTANDARD = LVTTL ;
NET WE         LOC = P46  | IOSTANDARD = LVTTL ;

NET A<0>       LOC = P35  | IOSTANDARD = LVTTL ;
NET A<1>       LOC = P23  | IOSTANDARD = LVTTL ;
NET A<2>       LOC = P22  | IOSTANDARD = LVTTL ;
NET A<3>       LOC = P21  | IOSTANDARD = LVTTL ;
NET A<4>       LOC = P14  | IOSTANDARD = LVTTL ;
NET A<5>       LOC = P15  | IOSTANDARD = LVTTL ;
NET A<6>       LOC = P26  | IOSTANDARD = LVTTL ;
NET A<7>       LOC = P27  | IOSTANDARD = LVTTL ;
NET A<8>       LOC = P29  | IOSTANDARD = LVTTL ;
NET A<9>       LOC = P33  | IOSTANDARD = LVTTL ;
NET A<10>      LOC = P24  | IOSTANDARD = LVTTL ;
NET A<11>      LOC = P30  | IOSTANDARD = LVTTL ;

NET BA<0>      LOC = P32  | IOSTANDARD = LVTTL ;
NET BA<1>      LOC = P34  | IOSTANDARD = LVTTL ;

NET DQ<0>      LOC = P62  | IOSTANDARD = LVTTL ;
NET DQ<1>      LOC = P61  | IOSTANDARD = LVTTL ;
NET DQ<2>      LOC = P59  | IOSTANDARD = LVTTL ;
NET DQ<3>      LOC = P58  | IOSTANDARD = LVTTL ;
NET DQ<4>      LOC = P56  | IOSTANDARD = LVTTL ;
NET DQ<5>      LOC = P47  | IOSTANDARD = LVTTL ;
NET DQ<6>      LOC = P139 | IOSTANDARD = LVTTL ;
NET DQ<7>      LOC = P55  | IOSTANDARD = LVTTL ;
NET DQ<8>      LOC = P50  | IOSTANDARD = LVTTL ;
NET DQ<9>      LOC = P48  | IOSTANDARD = LVTTL ;
NET DQ<10>     LOC = P75  | IOSTANDARD = LVTTL ;
NET DQ<11>     LOC = P16  | IOSTANDARD = LVTTL ;
NET DQ<12>     LOC = P17  | IOSTANDARD = LVTTL ;
NET DQ<13>     LOC = P74  | IOSTANDARD = LVTTL ;
NET DQ<14>     LOC = P66  | IOSTANDARD = LVTTL ;
NET DQ<15>     LOC = P67  | IOSTANDARD = LVTTL ;

NET DQMH       LOC = P41  | IOSTANDARD = LVTTL ;
NET DQML       LOC = P43  | IOSTANDARD = LVTTL ;

#FPGA Controls
NET RST        LOC = P111 | IOSTANDARD = LVTTL ;
NET SUSPEND_N  LOC = P112 | IOSTANDARD = LVTTL | PULLUP;

#FTDI
NET OE_N       LOC = P114 | IOSTANDARD = LVTTL ;
NET RXE_N      LOC = P117 | IOSTANDARD = LVTTL ;
NET SIWUA      LOC = P120 | IOSTANDARD = LVTTL ;
NET WR_N       LOC = P121 | IOSTANDARD = LVTTL ;
NET FTDI_CLK   LOC = P123 | IOSTANDARD = LVTTL ;
NET RD_N       LOC = P124 | IOSTANDARD = LVTTL ;
NET TXE_N      LOC = P126 | IOSTANDARD = LVTTL ;


NET D<0>       LOC = P133 | IOSTANDARD = LVTTL ;
NET D<1>       LOC = P132 | IOSTANDARD = LVTTL ;
NET D<2>       LOC = P131 | IOSTANDARD = LVTTL ;
NET D<3>       LOC = P127 | IOSTANDARD = LVTTL ;
NET D<4>       LOC = P119 | IOSTANDARD = LVTTL ;
NET D<5>       LOC = P116 | IOSTANDARD = LVTTL ;
NET D<6>       LOC = P118 | IOSTANDARD = LVTTL ;
NET D<7>       LOC = P115 | IOSTANDARD = LVTTL ;


#New Haven LCD Controller

NET LCD_BACKLIGHT_ENABLE  LOC = P85  | IOSTANDARD = LVTTL ;
NET LCD_REGISTER_DATA_SEL LOC = P84  | IOSTANDARD = LVTTL ;
NET LCD_WRITE_N           LOC = P83  | IOSTANDARD = LVTTL ;
NET LCD_READ_N            LOC = P82  | IOSTANDARD = LVTTL ;
NET LCD_DATA<0>           LOC = P81  | IOSTANDARD = LVTTL ;
NET LCD_DATA<1>           LOC = P79  | IOSTANDARD = LVTTL ;
NET LCD_DATA<2>           LOC = P78  | IOSTANDARD = LVTTL ;
NET LCD_DATA<3>           LOC = P80  | IOSTANDARD = LVTTL ;
NET LCD_DATA<4>           LOC = P9   | IOSTANDARD = LVTTL ;
NET LCD_DATA<5>           LOC = P10  | IOSTANDARD = LVTTL ;
NET LCD_DATA<6>           LOC = P12  | IOSTANDARD = LVTTL ;
NET LCD_DATA<7>           LOC = P11  | IOSTANDARD = LVTTL ;
NET LCD_CS_N              LOC = P8   | IOSTANDARD = LVTTL ;
NET LCD_RESET_N           LOC = P7   | IOSTANDARD = LVTTL ;
#NET LCD_TEARING_EFFECT    LOC = P68  | IOSTANDARD = LVTTL ;
NET LCD_DISPLAY_ON        LOC = P6   | IOSTANDARD = LVTTL ;


